body {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	background: url("../images/bg.png");
}

* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

.jumbotron {
	background: rgba(255,255,255,0.3);
	text-align: center;

}

img {
	width: 150px;
	height: 150px;
}

.vertical-align {
	display: flex;
	flex-direction: row;
	/*align-items: center;*/
	justify-content: center;
}

footer {
	background: green;
	text-align: center;
	font-size: 14px;
	color: grey;
	padding: 5px;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
}